<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.webServer" type="System.WebServer.Configuration.SystemWebServerSectionGroup, System.WebServer, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>

  <!-- Force UTF-8 encoding for all files -->
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" requestValidationMode="2.0" />
    <!-- Force UTF-8 encoding -->
    <globalization culture="en-US" uiCulture="en-US" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>

</configuration>
